{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>Create new Utilisateur</h1>

        {{ include('utilisateur/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('utilisateur_index') }}">Retour à liste</a>
    </div>

</div>
{% endblock %}
